form.edit-proposal label {
  font-size: 1.6rem;
  color: inherit;
}

form.edit-proposal .help-block {
  font-size: 1rem;
  color: #9e9e9e;
}

input#id_speaker_grant {
  position: relative;
  margin: 10px;
  opacity: 1;
  pointer-events: auto;
}

.container {
  margin-bottom: 10px;
}
