*.pyc
*~
__pycache__
/static
/media
.DS_Store
.idea
local.py
notes
/sqlite.db
/env/
/pyconlt/settings/local.py
/pyconlt/settings/pythonanywhere.py
deploy.sh
.env
paysera.html
.python-version
pyconlt/wsgi.py
data.dump.json
data.json
dump.sh
dumps/
program.json
manage.py