:root {
    --primary-bg-color: #262623;
    --primary-text-color: #F8F8F2;
    --secondary-bg-color: #171812;
    --links-color: #baba1b;
    --header-text-color: #F8F8F2;
    --nav-text-color: #F8F8F2;
}
