#logo {
    width: 100%;
}
.main_menu {
    font-size: 0.95rem;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: white;
}

body, main {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a, a:visited {
    color: var(--links-color);
}

a.orange {
    color: black;
}

nav {
   background-color: var(--secondary-bg-color);
}

.nav-wrapper {
   background-color: var(--secondary-bg-color);
}

.secondary-content > .material-icons.css {
   color: var(--secondary-bg-color);
}

.btn {
   background-color: var(--secondary-bg-color);
}

.page-footer {
   color: var(--header-text-color);
   background-color: var(--secondary-bg-color);
}

.page-footer a {
    color: var(--header-text-color);
    border-bottom: 1px dotted var(--header-text-color);
    text-decoration: none;
}

.page-footer .footer-copyright {
   color: var(--header-text-color);
   background-color: var(--secondary-bg-color);
}

.input-field {
   color: var(--primary-text-color);
}

.input-field > .material-icons {
   color: var(--primary-text-color);
}

.input-field > label {
   color: var(--primary-text-color);
}

.dropdown-content > li > a {
   color: var(--primary-text-color);
}

.card {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

.header a {
   color: var(--header-text-color);
}

.side-nav, .side-nav li > a  {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

.side-nav li > a:hover {
   background-color: var(--secondary-bg-color);
}

blockquote {
   border-left: 5px solid var(--links-color);
}

.lighttheme, .darktheme {
   color: var(--links-color);
}

.parallax {
    z-index: 0;
}