#logo {
    width: 100%;
}

#header {
    width: 100%;
}

.main_menu {
    font-size: 0.95rem;
}
body, main {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a, a:visited {
    color: var(--links-color);
}

a.orange {
    color: black;
}

nav {
   background-color: rgb(var(--secondary-bg-color));
}

.nav-wrapper {
   background-color: rgb(var(--secondary-bg-color));
}

.secondary-content > .material-icons.css {
   color: rgb(var(--secondary-bg-color));
}

.btn {
   background-color: rgb(var(--secondary-bg-color));
}

.page-footer {
   color: var(--header-text-color);
   background-color: rgb(var(--secondary-bg-color));
}

.page-footer a {
    color: var(--header-text-color);
    border-bottom: 1px dotted var(--header-text-color);
    text-decoration: none;
}

.page-footer .footer-copyright {
   color: var(--header-text-color);
   background-color: rgb(var(--secondary-bg-color));
}

.input-field {
   color: var(--primary-text-color);
}

.input-field > .material-icons {
   color: var(--primary-text-color);
}

.input-field > label {
   color: var(--primary-text-color);
}

.card {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

.header a {
   color: var(--nav-text-color);
}

.side-nav, .side-nav li > a  {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

.side-nav li > a:hover {
   background-color: rgb(var(--secondary-bg-color));
}

blockquote {
   border-left: 5px solid var(--links-color);
}

.lighttheme, .darktheme {
   color: var(--links-color);
}

.parallax {
    z-index: 0;
}

.account-select {
  margin-top: 9.5px;
}

.account-select > input {
  margin-bottom: 0px !important;
  border-bottom: none !important;
}

.account-select .caret {
  display: none;
}

a, p, span, li, div {
  font-size: 16px;
}

.modal {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
}

.modal .modal-footer {
   background-color: rgb(var(--secondary-bg-color));
   color: var(--primary-text-color);
}

.dropdown-content {
   background-color: rgb(var(--secondary-bg-color));
   color: var(--header-text-color);
}
.dropdown-content li {
   background-color: rgb(var(--secondary-bg-color));
   color: var(--header-text-color);
}
.dropdown-content > li > a, .dropdown-content li > span  {
   color: var(--header-text-color);
}

.schedule {
    margin-bottom: 2em;
}

.schedule div.hidden {
    display: none;
}

.schedule table thead {
    background-color: rgba(var(--secondary-bg-color), 0.5);
}

.schedule table tr:nth-child(even) {
    background-color: rgba(var(--secondary-bg-color), 0.2);
}

ul.schedule_header {
    list-style-type: none;
    padding: 8px 8px;
    background-color: var(--primary-bg-color);
    position: sticky;
    top: 0;
}

ul.schedule_header li {
    display: inline;
    text-align: center;
    padding: 8px 8px;
    border-bottom: 1px solid rgb(var(--secondary-bg-color));
}

ul.schedule_header li a {
    width: 40px;
    color: var(--primary-text-color);
    margin: 8px 8px;
    text-decoration: none;
}

ul.schedule_header li.active {
    background-color: rgba(var(--secondary-bg-color), 0.8);
}

ul.schedule_header li.active a {
    color: var(--header-text-color);
}

ul.schedule_header li a:hover {
    opacity: 0.5;
}
