{% load staticfiles %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_title %}
        <title>Pycon LT</title>
    {% endblock head_title %}
    {% block head_links %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

{#        <link rel="stylesheet" href="{% static 'info/css/style.css' %}">#}
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    {% endblock head_links %}
</head>
<body>
<div class="container">
<div class="row">
<div id="branding">
    <div id="branding-inner">
        <img id="logo" src="{% static 'info/img/pyconlt_logo.png' %}">
    </div>
</div>
<div id="wrapper">
<nav id="main_nav">
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/sponsors/">Sponsors</a></li>
        <li><a href="/speakers/">Speakers</a></li>
        <li class="last"><a href="/coc/">Code of Conduct</a></li>

{#    {% for page in flatpages %}#}
{#        {% if forloop.last %}#}
{#        <li class="last"><a href="{{ page.url }}">{{ page.title }}</a></li>#}
{#        {% else %}#}
{#        <li><a href="{{ page.url }}">{{ page.title }}</a></li>#}
{#        {% endif %}#}
{##}
{#    {% endfor %}#}
    </ul>
</nav>

<div id="content">

{% block content %}

{% endblock content %}
</div>
</div>
</div>
</div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>