{% load staticfiles %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_title %}
        <title>Pycon LT</title>
    {% endblock head_title %}
    {% block head_links %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'presenters/css/materialize.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {% endblock head_links %}
</head>
<body>

<header class="header">
    <div class="container">
        <div class="row">
            <div id="branding">
             <div id="branding-inner">
                 <img id="logo" src="{% static 'info/img/PYCON_baneris-01.jpg' %}">
             </div>
            </div>

            <nav id="main_nav" class="light-green darken-4">

            <div class="nav-wrapper">
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="left hide-on-med-and-down">
                 {% load menubuilder %}{% menu main-menu %}
                    {% for item in menuitems %}
                        <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
                    {% endfor %}
              </ul>
              <ul class="side-nav" id="mobile-demo">
                {% load menubuilder %}{% menu main-menu %}
                    {% for item in menuitems %}
                        <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
                    {% endfor %}
              </ul>
            </div>

            </nav>
        </div>
    </div>
</header>

<main>
    <div class="container flow-text">
     {% block content %}

     {% endblock content %}
    </div>
</main>

<div class="container light-green darken-4">
<footer class="page-footer light-green darken-4">
    <div class="container light-green darken-4">
        <div class="row">
            <div>PyCon LT 2018</div>
            <div>Email: info@pycon.lt</div>
        </div>
    </div>
</footer>
</div>

  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })
    </script>
</body>
</html>