{% load staticfiles %}
{% load flatpages %}
{% load menubuilder %}
{% load i18n %}
{% get_flatpages as flatpages %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127309256-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127309256-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2GBD5M');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="verify-paysera" content="a89f07be81d99d9c811b34abedca7529">
    {% block head_title %}
        <title>Pycon LT</title>
    {% endblock head_title %}
    {% block head_links %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% if request.COOKIES.theme == 'dark' %}
        <link rel="stylesheet" href="{% static 'info/css/dark.css' %}">
        {% else %}
        <link rel="stylesheet" href="{% static 'info/css/light.css' %}">
        {% endif %}
        <link rel="stylesheet" href="{% static 'info/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'info/img/favicon.png' %}">
    {% endblock head_links %}
    {% block extra_css %}
    {% endblock %}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '415401939037313');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=415401939037313&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2GBD5M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header">
{#        <div id="branding">#}
{#         <div id="branding-inner">#}
{#             <img class="responsive-img" src="{% static 'info/img/pycon_header.jpg' %}">#}
{#         </div>#}
{#        </div>#}

<div class="row">
    <ul id="why-attend-dropdown" class="dropdown-content">
        {% load menubuilder %}{% menu why-attend-dropdown %}
          {% for item in menuitems %}
              <li><a href="{{ item.url }}"  title="{{ item.title|escape }}"{% if item.current %} class='active'{% endif %}>{{ item.title }}</a></li>
          {% endfor %}
    </ul>
        <ul id="practical-information-dropdown" class="dropdown-content">
        {% load menubuilder %}{% menu practical-info-dropdown %}
          {% for item in menuitems %}
              <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='active'{% endif %}>{{ item.title }}</a></li>
          {% endfor %}
    </ul>
    <nav id="main_nav">
        <div class="container">
        <div class="cols s12">
          <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">PyConLT'2019</a></li>
            </ul>
            <ul class="right hide-on-med-and-down" id="right-side-menu">
                {% load menubuilder %}{% menu main-menu-2020 %}
                  {% for item in menuitems %}
                      <li><a href="{{ item.url }}" class="dropdown-button" data-activates="{{ item.title|slugify }}-dropdown" title="{{ item.title|escape }}"{% if item.current %} class='active'{% endif %}>{{ item.title }}</a></li>
                  {% endfor %}
                {% if user.is_authenticated %}
                  <li>
                    <select class="account-select" name="" onchange="onSelectChange(this.options[this.selectedIndex].value)">
                      <option value="{% url 'presenter_update' %}">{% trans "Account" %}</option>
                      <option value="{% url 'proposal_list' %}">{% trans "Proposals" %}</option>
                        {% ifequal user.user_permissions.all.0.name "is_committee_member" %}
                            <option value="{% url 'review_list' %}">{% trans "Reviews" %}</option>
                        {% endifequal %}
                      <option value="lighttheme"><a class="lighttheme">{% trans "Light theme" %}</a></option>
                      <option value="darktheme"><a class="darktheme">{% trans "Dark theme" %}</a></option>
                      <option value="{% url 'account_logout' %}">{% trans "Sign out" %}</option>
                    </select>
                  </li>
                {% else %}
                    <li><a class="lighttheme">{% trans "Light theme" %}</a></li>
                    <li><a class="darktheme">{% trans "Dark theme" %}</a></li>
                    <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
              {% load menubuilder %}{% menu mobile-menu-2020 %}
                  {% for item in menuitems %}
                      <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='active'{% endif %}>{{ item.title }}</a></li>
                  {% endfor %}
                  <li><hr /></li>
                <li><a class="lighttheme">{% trans "Light" %}</a></li>
                <li><a class="darktheme">{% trans "Dark" %}</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
        </div>
    </nav>

</div>
</header>

<main>
{#    {% if request.path == '/' %}#}
{#        {% if request.COOKIES.theme == 'dark' %}#}
{#            <img id="header" alt="header" src="{% static 'info/img/pycon2019_header_dark.png' %}"/>#}
{#        {% else %}#}
{#            <img id="header" alt="header" src="{% static 'info/img/pycon2019_header_light.png' %}"/>#}
{#        {% endif %}#}
{#    {% else %}#}
{#        <img id="header" alt="header" style="display: none"/>#}
{#    {% endif %}#}

    <div class="container">
     {% block content %}

     {% endblock content %}
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div>PyCon LT 2019</div>
        <div>Email: info@pycon.lt</div>
        <br>
        <div>Website by Dalius Dobravolskas, Karina Klinkevičiūtė, Robertas Murnikovas, Šarūnas Navickas, Inga Pliavgo and Aidis Stukas (<a href="https://github.com/karina-klinkeviciute/pyconlt">source code</a>)</div>
        <div>Graphic design by Simona Seibutienė</div>
        <div>Website built using <a href="https://www.djangoproject.com/">Django</a> and <a href="http://materializecss.com/">Materializecss</a> and hosted on <a href="https://www.pythonanywhere.com/">PythonAnywhere</a></div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019, PyCon LT
        </div>
    </div>
</footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
    {% if request.COOKIES.theme == 'dark' %}
    const g_theme = 'dark';
    {% else %}
    const g_theme = 'light';
    {% endif %}

    function onSelectChange(value) {
        if (value === 'lighttheme') {
            setLightTheme();
        } else if (value === 'darktheme') {
            setDarkTheme()
        } else {
            window.location = value;
        }
    }

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function setHeader(theme) {
        var img = $('#header-data').data(theme);
        if (img) {
            $('#header').attr('src', img).attr('style', 'display: block');
        }
    }

    function setLightTheme() {
        $(document.body).css("--primary-bg-color", "#ffffff");
        $(document.body).css("--primary-text-color", "#000000");
        $(document.body).css("--secondary-bg-color", "55, 118, 170");
        $(document.body).css("--links-color", "#ff9b48");
        $(document.body).css("--header-text-color", "#ffffff");
        $(document.body).css("--nav-text-color", "#ffffff");
        setHeader('light');
        setCookie('theme', 'light', 366);
    }

    function setDarkTheme() {
        $(document.body).css("--primary-bg-color", "#191919");
        $(document.body).css("--primary-text-color", "#F8F8F2");
        $(document.body).css("--secondary-bg-color", "38, 38, 38");
        $(document.body).css("--links-color", "#baba1b");
        $(document.body).css("--header-text-color", "#F8F8F2");
        $(document.body).css("--nav-text-color", "#F8F8F2");
        setHeader('dark');
        setCookie('theme', 'dark', 366);
    }

    $( document ).ready(function(){
        setHeader(g_theme);
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown({ hover: true });
        $(".lighttheme").click(setLightTheme);
        $(".darktheme").click(setDarkTheme);
    })
    </script>
    {% block extra_js %}
        <script type="text/javascript">
            {# Hacks to make form render #}
            $(document).ready(function() {
              $('select').material_select();
            });
        </script>
    {% endblock %}
</body>
</html>
