{% extends "pyconlt/base.html" %}
{% load static %}

{% block head_title %}
    <title>Pycon LT | Speakers </title>
{% endblock head_title %}
{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'presenters/css/presenters.css' %}">
{% endblock head_links %}

{% block content %}

<!--         <h1>Presenters</h1> -->

        {% for presenter in presenters %}

              <div class="col s12">
                <h2 class="header">{{ presenter.name }}</h2>
                <div class="card horizontal">
                  <div class="card-image presenter-photo">
                    <img src="{{ presenter.image.url }}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        {{ presenter.bio|safe }}
                    </div>
                    <div class="card-content">
                        {% if presenter.has_twitter %}
                            <a href="https://twitter.com/{{ presenter.twitter_handle }}" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        {% if presenter.has_github %}
                            <a href="https://github.com/{{ presenter.github_handle }}" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        {% if presenter.has_linkedin %}
                            <a href="https://www.linkedin.com/in/{{ presenter.linkedin_handle }}/" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-content">
                          {% for skill in presenter.expertise %}
                              <div class="chip">
                                {{ skill }}
                              </div>
                          {% endfor %}
                   </div>
                 </div>
                </div>
              </div>
        {% endfor %}

{% endblock content %}
