{% extends "pyconlt/base.html" %}
{% load static %}

{% block head_title %}
    <title>Pycon LT | Speakers </title>
{% endblock head_title %}
{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'presenters/css/presenters.css' %}">
{% endblock head_links %}

{% block content %}

<!--         <h1>Presenters</h1> -->

        {% for presenter in presenters %}

              <div class="col s12">
                <h2 class="header">{{ presenter.name }}</h2>
                <div class="card horizontal">
                  <div class="card-image presenter-photo">
                    <img src="{{ presenter.image.url }}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <blockquote>
                            {{ presenter.bio|safe }}
                        </blockquote>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}

{% endblock content %}
