{% extends "pyconlt/base.html" %}
{% load static %}
{% load thumbnail %}

{% block head_title %}
    <title>Pycon LT | Speakers </title>
{% endblock head_title %}
{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'presenters/css/presenters.css' %}">
{% endblock head_links %}

{% block content %}

<!--         <h1>Presenters</h1> -->

        {% for presenter in presenters %}
            <div class="row">
              <div class="col s12">
                  <div class="center-align">
                    <h2 class="header" id="speaker{{ presenter.id }}">{{ presenter.name }}</h2>
                  </div>
                  <div class="center-align">
{#                    {% thumbnail presenter.image "300" as im %}#}
                      {% thumbnail presenter.image 300x1000 upscale as im %}
                    <img class="presenter-photo" src="{{ im.url }}">
{#                      {% endthumbnail %}#}
{#                  <img class="presenter-photo" src="{{ presenter.image.url }}">#}
                  </div>
                  <div class="center-align">
                        {% if presenter.has_twitter %}
                            <a href="https://twitter.com/{{ presenter.twitter_handle }}" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        {% if presenter.has_github %}
                            <a href="https://github.com/{{ presenter.github_handle }}" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        {% if presenter.has_linkedin %}
                            <a href="https://www.linkedin.com/in/{{ presenter.linkedin_handle }}/" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                  </div>
                  <div>
                        {{ presenter.bio|safe }}

                          {% for skill in presenter.expertise %}
                              <span class="chip">
                                {{ skill }}
                              </span>
                          {% endfor %}

                   </div>
              </div>
            </div>
        {% endfor %}

{% endblock content %}
