{% extends "pyconlt/base.html" %}
{% load i18n %}
{% load material_form %}
{% load static %}

{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'proposals/css/proposals-form.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        {# Hacks to make form render #}
        $(document).ready(function() {
          $('select').material_select();
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}
                {% part form.speaker_grant %}
                <div class="checkbox-field col s12 required" id="id_speaker_grant_container">
                    <input class="filled-in " id="id_speaker_grant" name="speaker_grant" type="checkbox" />
                    <label for="id_speaker_grant">
                        {% blocktrans %}
                        Speaker grant
                        {% endblocktrans %}
                    </label>
                </div>
                {% endpart %}
                {% part form.agreement %}
                <div class="checkbox-field col s12 required" id="id_agreement_container">
                    <input class="filled-in " id="id_agreement" name="agreement" type="checkbox" />
                    <label for="id_agreement">
                        {% blocktrans %}
                        I agree with <a href="/2019/coc/">Code of Conduct</a>
                        {% endblocktrans %}
                    </label>
                </div>
                {% endpart %}
            {% endform %}
            <button type="submit" name="_submit" class="btn">{% trans "Submit" %}</button>
        </form>
    {% else %}
        {% trans 'You need to <a href="/accounts/login/">Sign in</a> to submit proposal' %}
    {% endif %}

{% endblock content %}
