{% extends "pyconlt/base.html" %}
{% load static %}

{% block head_title %}
    <title>Pycon LT | Talks and workshops </title>
{% endblock head_title %}

{% block content %}

        {% if tags %}
          <div class="row" id="tags-filter">
            <input type="text" id="tag-input" onkeyup="searchByTags()" placeholder="Search for tags.." title="Type in a tag">
          </div>
        {% endif %}


        {% for talk in talks %}
            <div class="row">
                    <div class="col s12 m12 l8">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title"><i>{{ talk.title }}</i>
                                    by {{ talk.presenter }}</span>
                                    <p>{{ talk.short_description | safe }}</p>
                                <br>
                                <p>
                                    {% for tag in talk.tags %}
                                        <span class="chip">{{ tag }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="card-action">
                                <!-- Modal Trigger -->
                                <a class="btn modal-trigger" href="#modal{{talk.id}}">Speaker bio</a>
                                <!-- Modal Structure -->
                                <div id="modal{{talk.id}}" class="modal">
                                    <div class="modal-content">
                                        <h4>{{ talk.presenter.name }}</h4>

                                        {% if talk.presenter.image %}
                                        <img style="max-height: 100px; margin: 20px; float:left;"
                                            src="{{ talk.presenter.image.url }}" />
                                        {% endif %}
                                        <p>{{ talk.presenter.bio | safe }}</p>
                                        {% if talk.presenter.has_twitter %}
                                            <a href="{{talk.presenter.twitter_url}}/" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        {% if talk.presenter.has_linkedin %}
                                            <a href="{{talk.presenter.linkedin_url}}/" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        {% if talk.presenter.has_github %}
                                            <a href="{{talk.presenter.github_url}}/" target="_blank">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% if talk.tags %}
                                        <div>
                                          {{ talk.tags }}
                                        </div>
                                    {% endif %}
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close btn-flat">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        {% endfor %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
        });

        function searchByTags() {
          var inputVal = document.getElementById('tag-input').value;
          $.ajax({
              url: "{% url 'talks_list' year='2019' %}",
              type: "GET",
              dataType: 'json',
              cache: false,
              data: {'input': inputVal},
              success: function(data){
                console.log("success ", data);
              }
          })
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, options);
            });
    </script>

{% endblock content %}
