{% extends "pyconlt/base.html" %}
{% load static %}

{% block head_title %}
    <title>Pycon LT | Talks and workshops </title>
{% endblock head_title %}

{% block content %}

        {% for talk in talks %}
            <div class="row">
              <div class="col s12">
                  <div class="center-align">
                    <div id="presenter-modal-{{ talk.presenter.id }}" style="display: none;" class="presenter-modal">
                        <span style="display: block; float: left">{{ talk.presenter.image }}</span>
                        <span style="display: block; float: left">{{ talk.presenter.name }}</span>
                        <div>{{ talk.presenter.bio }}</div>

                    </div>
                    <h1 id="talk{{ talk.id }}">
                        <a href="/{{ talk.event.year }}/speakers/#speaker{{ talk.presenter.id }}">
                            {{ talk.presenter.name }}
                        </a>
                    </h1>
                  </div>
                  <div class="center-align">
                    <h3 class="header">{{ talk.title }}</h3>
                  </div>
                  <div>
                        {{ talk.short_description|safe }}
                  </div>
              </div>
            </div>
        {% endfor %}

    <script>
{#    here we should add event listener, then get a target and then show the modal for the right presenter #}
    </script>
{% endblock content %}
