{% extends "pyconlt/base.html" %}
{% load static %}

{% block head_title %}
    <title>Pycon LT | Talks and workshops </title>
{% endblock head_title %}

{% block content %}

        {% for talk in talks %}
            <div class="row">
              <div class="col s12">
                  <div class="center-align">
                    <h2 class="header" id="talk{{ talk.id }}">
                        <a href="/{{ talk.event.year }}/speakers/#speaker{{ talk.presenter.id }}">
                            {{ talk.presenter.name }}
                        </a>
                    </h2>
                  </div>
                  <div class="center-align">
                    <h3 class="header">{{ talk.title }}</h3>
                  </div>
                  <div>
                        {{ talk.short_description|safe }}
                  </div>
              </div>
            </div>
        {% endfor %}

{% endblock content %}
