{% extends "pyconlt/base.html" %}
{% load static order_by %}

{% block head_title %}
    <title>Pycon LT | Program </title>
{% endblock head_title %}

{% block content %}

      <h1> PyConLt 2018 Agenda</h1>
        {% for slot in slots %}
        <div class="row card-panel hoverable">
            {{ slot.name }}<br>

            {% for subslot in slot.slot_set.all %}
                {% if subslot.talk %}
                    <div class="teal lighten-3 card-panel hoverable">
                        {{ subslot.start_time|time }}.
                        {{ subslot.talk.presenter.name }}.
                        {{ subslot.talk.title }}
                    </div>
                {% else %}
                        {% if subslot.track_span == 1 %}
                            <div class="col s12 m12 l6">
                        {% else %}
                            <div class="col s12 m12 l12">
                        {% endif %}
                    {{ subslot.name }} <br>
                    {% for talkslot in subslot.slot_set.all|order_by:'start_time' %}
                        <div class="teal lighten-3 card-panel hoverable">
                         {{ talkslot.start_time|time }}.
                         {{ talkslot.talk.presenter.name }}.
                         {{ talkslot.talk.title }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        {% endfor %}

{% endblock content %}