{% extends "pyconlt/base.html" %}
{% load static order_by %}

{% block head_title %}
    <title>Pycon LT | Program </title>
{% endblock head_title %}
{% block head_links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'program/css/program.css' %}">
{% endblock head_links %}

{% block content %}


{# Template currently adapted to 2 tracks. For more tracks, adjust col classes. #}
    <div class="row">

        {% for track in tracks %}
            <div class="col s12 m12 l6">
            <div class="slot light-green darken-1">
                {{ track.track.name }} ({{ track.track.room }})
            </div>
                {% for slot in track.slots %}

                        {% if slot.talk.title %}
                            <div class="slot light-green lighten-2">
                            {{ slot.start_time|time:'H:i' }}.
                            <a href="/speakers/#speaker{{ slot.talk.presenter.id }}">
                                {{ slot.talk.presenter.name }}.
                            </a>
                            <a href="/talks/#talk{{ slot.talk.id }}">
                                {{ slot.talk.title }}
                            </a>
                        {% else %}
                            <div class="slot light-green lighten-3">
                            {{ slot.start_time|time:'H:i' }}.
                            {{ slot.name }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>

{% endblock content %}