{% extends 'pyconlt/base.html' %}
{% load material_form %}
{% load i18n %}

{% block extra_js %}
    <script type="text/javascript">
        {# Hacks to make form render #}
        $(document).ready(function() {
          $('select').material_select();
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div>
      <p><strong>Title:</strong> {{proposal.title}}</p>

      <p><strong>Type:</strong> {{ proposal.get_type_display }}</p>

      <p><strong>Audience experience:</strong> {{ proposal.get_audience_experience_display }}</p>

      {% if proposal.target_audience %}
        <p><strong>Target audience:</strong> {{ proposal.target_audience|safe }}</p>
      {% endif %}

      <p><strong>Short description:</strong> <br>{{proposal.short_description|safe}}</p>

      {% if proposal.extra_info %}
        <p><strong>Extra information:</strong> <br>{{ proposal.extra_info|safe }}</p>
      {% endif %}

    </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <button type="submit" name="_submit" class="btn">{% trans "Submit" %}</button>
        </form>
     {% endif %}
{% endblock %}
