{% extends 'pyconlt/base.html' %}
{% load material_form %}
{% load i18n %}

{% block extra_js %}
    <script type="text/javascript">
        {# Hacks to make form render #}
        $(document).ready(function() {
          $('select').material_select();
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div>
      <p>This is review for: <b>{{proposal.title}}</b></p>

      <p>Type: {{ proposal.get_type_display }}</p>

      <p>Audience experience: {{ proposal.get_audience_experience_display }}</p>

      <p>Target audience: {{ proposal.target_audience|safe }}</p>

      <p>Short description: <br>{{proposal.short_description|safe}}</p>

      <p>Extra information: <br>{{ proposal.extra_info|safe }}</p>

    </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <button type="submit" name="_submit" class="btn">{% trans "Submit" %}</button>
        </form>
     {% endif %}
{% endblock %}
