{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'demo/css/styles.css'%}" type="text/css"></link>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="https://www.pycon.lt/static/info/img/favicon.png" width="30" height="30" alt="">
      </a>
			<a class="navbar-brand" href="#">Pycon LT</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="btn btn-danger m-2 text-light">Buy tickets</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary m-2 text-light">Schedule</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link m-2" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link m-2" href="#about">About</a>
					</li>
          <li class="nav-item">
            <a class="nav-link m-2" href="#topics">Topics</a>
          </li>
					<li class="nav-item">
						<a class="nav-link m-2" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="cover-container">
        <div id="carouselExampleSlidesOnly" class="carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
		    <img class="d-block w-100" src="{% static 'demo/img/cover.png' %}" alt="First slide">
            </div>
          </div>
        </div>
		</div>

    <div class="container-fluid pt-5 pb-5 bg-dark text-light" id="about">
      <div class="container">
        <h2 class="font-weight-bold text-uppercase text-center pb-2">About Pycon LT</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-black text-light">
      <div class="container">
        <div class="row pb-3">
          <div class="col-4 text-blue">
		  <img class="social-icon pr-1" src="{% static 'demo/img/gear.svg' %}" />
            Discover tools and tips
          </div>
          <div class="col-4 text-blue">
		  <img class="social-icon pr-1" src="{% static 'demo/img/link.svg'%}" />
            Network with experts
          </div>
          <div class="col-4 text-blue">
		  <img class="social-icon pr-1" src="{% static 'demo/img/gem.svg' %}" />
            Technically rich talks
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </div>
          <div class="col-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </div>
          <div class="col-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-yellow text-blue">
      <div class="container">
      <div class="row pb-3">
        <div class="col-3">
          <h2 class="font-weight-bold">2</h2>
        </div>
        <div class="col-3">
          <h2 class="font-weight-bold">3</h2>
        </div>
        <div class="col-3">
          <h2 class="font-weight-bold">15</h2>
        </div>
        <div class="col-3">
          <h2 class="font-weight-bold">350+</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h2>Days</h2>
        </div>
        <div class="col-3">
          <h2>Tracks</h2>
        </div>
        <div class="col-3">
          <h2>Speakers</h2>
        </div>
        <div class="col-3">
          <h2>Atendees</h2>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-dark text-light" id="topics">
      <div class="container">
      <div class="row">
        <div class="col">
        <h2 class="text-center text-uppercase">Topics</h2>
      </div>
    </div>
      <div class="row pt-5 justify-content-around">
        <div class="col-4">
          <p class="float-right">
            Machine learning
          </p>
        </div>
        <div class="col-4">
          Deep learning
        </div>
      </div>
      <div class="row pt-5 justify-content-around">
    <div class="col-4">
      <p class="float-right">
        Open source
      </p>
    </div>
    <div class="col-4">
      Design patterns
    </div>
  </div>
  <div class="row pt-5 justify-content-around">
    <div class="col-4">
      <p class="float-right">
        Web development
      </p>
    </div>
    <div class="col-4">
      Internet of things
    </div>
    </div>
  </div>
</div>

    <div class="container-fluid bg-black text-light pt-5 pb-5">
      <div class="container">
        <h2 class="text-center pb-2">Schedule</h2>
        Coming soon...
      </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-dark text-light">
      <div class="container">
        <h2 class="text-center pb-2">Call for proposals</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="text-center">
          <a class="btn btn-danger m-2 text-light">Fill the form</a>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-black text-light">
      <div class="container">
        <h2 class="text-center">Become a sponsor</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="text-center">
          <a class="btn btn-danger m-2 text-light">Become a sponsor</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-4">
		<img src="{% static 'demo/img/IMG2580.JPG' %}" class="img-rounded img-thumbnail"/>
        </div>
        <div class="col-4">
		<img src="{% static 'demo/img/IMG2630.JPG' %}" class="img-rounded img-thumbnail"/>
        </div>
        <div class="col-4">
		<img src="{% static 'demo/img/IMG2852.JPG' %}" class="img-rounded img-thumbnail"/>
        </div>
        <div class="w-100">
        </div>
        <div class="col-4">
		<img src="{% static 'demo/img/IMG3192.JPG' %}" class="img-rounded img-thumbnail"/>
      </div>
        <div class="col-4">
		<img src="{% static 'demo/img/IMG2970.JPG' %}" class="img-rounded img-thumbnail"/>
      </div>
      <div class="col-4">
	      <img src="{% static 'demo/img/IMG3337.JPG' %}" class="img-rounded img-thumbnail"/>
    </div>
      </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-black text-light" id="contact">
      <div class="container text-center">
        <h2 class="font-weight-bold text-uppercase text-center pb-2">Never miss our event</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a class="btn btn-primary m-2 text-light">Newsletter</a>
        <div class="row pt-5 justify-content-center">
          <div class="col-auto">
		  <a href=""><img class="social-icon" src="{% static 'demo/img/facebook.svg' %}" /></a>
          </div>
          <div class="col-auto">
		  <a href=""><img class="social-icon" src="{% static 'demo/img/twitter.svg' %}" /></a>
          </div>
          <div class="col-auto">
		  <a href=""><img class="social-icon" src="{% static 'demo/img/linkedin.svg' %}" /></a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
